.tovarCard2{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    row-gap: 30px;
    column-gap: 20px;
}
.card2{
    width: 300px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price p{
    text-align: center;
    margin-top: 5px;
    font-style: 16px;

    color: #1d1f2eab;
    font-weight: normal;
}
.nonPrice{
    margin-left: 10px;
    color: #1d1f2eab;
    text-decoration: line-through;
}
.tovarCard1 h3{
    margin-top: 25px;
    font-style: 20px;
    color: #1D1F2E;
    font-weight: normal;
}